In [1]:
import pandas as pd

In [2]:
#Here, we import our filtered query set we constructed in our other notebook 

qrel_dev = pd.read_table('./qrels.dev.tsv')
queries_dev_withqrels = pd.read_table('./queries_dev_withqrels.tsv')


qrel_train = pd.read_table('./qrels.train.tsv')
queries_train_withqrels = pd.read_table('./queries_train_withqrels.tsv')

In [3]:
#Now, construct an education DEV subset 
keywords_to_filter_by = ["education", "chemistry", "history", "math","statistic","calculus", "learn","computer science",
                         "economics", "philosophy", "political science", "physics", "geometry", "sociology", "science", "ethics",
                         "algorithm", "robotics", "programming", "coding",
                         "electrical engineering", "computer vision", "algebra", "ecology", "gender studies", "genetics", "combinatorics", "probability", 
                         "variance", "bernoulli", "binomial", "poisson", "convolution", "derivative", "integral", "for loop", 
                         "while loop", "python", "numpy", "exponents", "cosine", "recursion", "html", "css", "javascript", "quiz", "square root", "proportion", "functions",
                         "fraction","inequalities", "linear", "circle","graph", "absolute value", "equation", "theorem", "vector", "tangent", "optimization", "asymptote", "slope", "induction", "regression", 
                         "experiment", "correlation", "decimal", "matrix", "hypothesis", "fossils", "cells", "atom", "ecosystem", "scientific","heredity", "electron", "neutron","optics", "newton",
                         "scalar","greenhouse gas", "ozone", "atmosphere", "stack", "array", "debug", "parameter", "machine learning", "torque", "decomposition", "transpose",
                         "index", "factorial", "variable", "integer", "volume", "angle", "biology", "psychology", "ancient", "architecture", "implicit", "gradient", "distribution", "theory", "principle"
                           ]

In [4]:
#Create empty lists of lists that we'll convert from dataframe -> CSV
def construct_education_subset(df_name):
    new_dev_list = []                 

    idCol = df_name.iloc[:, 0]

    queryCol = df_name.iloc[:, 1]
    size = 0
    for keyword in keywords_to_filter_by:
      count = 0
      idx = 0
      #This is slow
      # for index, row in df.iterrows():
      for query in queryCol:

        #Check if the given string contains keyword
          if keyword in query:
            #Add to our new dataframe
            count+=1
            id = df_name.iloc[idx, 0]
            row_entry = [ id, query ]
            #print(row_entry)
            new_dev_list.append(row_entry)
          idx +=1
      size +=count
      print(keyword, count)

    #Now, convert this list of lists to a df -> csv
    new_dev_df = pd.DataFrame( new_dev_list )
    return new_dev_df

In [5]:
new_dev_df = construct_education_subset(queries_dev_withqrels)
new_train_df = construct_education_subset(queries_train_withqrels)

education 87
chemistry 47
history 79
math 75
statistic 17
calculus 2
learn 51
computer science 1
economics 21
philosophy 6
political science 2
physics 10
geometry 9
sociology 21
science 64
ethics 6
algorithm 4
robotics 1
programming 17
coding 14
electrical engineering 1
computer vision 0
algebra 4
ecology 4
gender studies 0
genetics 2
combinatorics 0
probability 4
variance 6
bernoulli 0
binomial 3
poisson 0
convolution 0
derivative 4
integral 0
for loop 0
while loop 1
python 13
numpy 0
exponents 0
cosine 1
recursion 1
html 5
css 1
javascript 4
quiz 69
square root 3
proportion 6
functions 56
fraction 18
inequalities 2
linear 14
circle 27
graph 136
absolute value 1
equation 15
theorem 3
vector 8
tangent 1
optimization 4
asymptote 0
slope 0
induction 2
regression 4
experiment 11
correlation 7
decimal 7
matrix 8
hypothesis 6
fossils 7
cells 126
atom 107
ecosystem 10
scientific 37
heredity 3
electron 42
neutron 8
optics 2
newton 11
scalar 2
greenhouse gas 4
ozone 8
atmosphere 23
stack 9
array 12
debug 1
parameter 4
machine learning 0
torque 3
decomposition 2
transpose 2
index 16
factorial 0
variable 30
integer 3
volume 37
angle 80
biology 49
psychology 28
ancient 29
architecture 10
implicit 3
gradient 3
distribution 26
theory 51
principle 16
education 731
chemistry 334
history 525
math 551
statistic 200
calculus 15
learn 469
computer science 45
economics 157
philosophy 54
political science 7
physics 167
geometry 70
sociology 138
science 717
ethics 81
algorithm 32
robotics 18
programming 99
coding 87
electrical engineering 12
computer vision 1
algebra 45
ecology 16
gender studies 0
genetics 71
combinatorics 0
probability 35
variance 58
bernoulli 6
binomial 19
poisson 4
convolution 4
derivative 36
integral 16
for loop 1
while loop 1
python 73
numpy 2
exponents 2
cosine 6
recursion 3
html 56
css 53
javascript 39
quiz 560
square root 10
proportion 55
functions 413
fraction 149
inequalities 2
linear 138
circle 180
graph 1214
absolute value 6
equation 207
theorem 35
vector 59
tangent 22
optimization 7
asymptote 7
slope 22
induction 29
regression 32
experiment 114
correlation 33
decimal 59
matrix 92
hypothesis 65
fossils 65
cells 1502
atom 772
ecosystem 92
scientific 360
heredity 11
electron 386
neutron 35
optics 10
newton 98
scalar 15
greenhouse gas 50
ozone 110
atmosphere 234
stack 69
array 97
debug 9
parameter 31
machine learning 6
torque 34
decomposition 12
transpose 3
index 204
factorial 4
variable 292
integer 31
volume 230
angle 568
biology 513
psychology 422
ancient 282
architecture 94
implicit 18
gradient 29
distribution 187
theory 587
principle 219

In [6]:
new_dev_df.head(10000)

            0                                                  1
0      788875    what is quality assurance in educational system
1      265891  how long must one work in education in order t...
2      656404  what education do you need to become a jewelry...
3      793665           what is sap with department of education
4     1056211                    constructivism education define
...       ...                                                ...
1795   746383                 what is fasb accounting principles
1796  1012920  which leadership principle requires you to use...
1797   718878                              what is apa principle
1798  1027982     who founded the principles for the boy scouts?
1799  1044161             what is the basic principle of systema

[1800 rows x 2 columns]

In [9]:
#PREPROCESS: FILTER OUT 100 OR SO DUPLICATES
new_dev_df = new_dev_df.drop_duplicates()
new_dev_df.head(1000000)

            0                                                  1
0      788875    what is quality assurance in educational system
1      265891  how long must one work in education in order t...
2      656404  what education do you need to become a jewelry...
3      793665           what is sap with department of education
4     1056211                    constructivism education define
...       ...                                                ...
1795   746383                 what is fasb accounting principles
1796  1012920  which leadership principle requires you to use...
1797   718878                              what is apa principle
1798  1027982     who founded the principles for the boy scouts?
1799  1044161             what is the basic principle of systema

[1713 rows x 2 columns]

In [10]:
#PROCESSING DEV AND TEST
#Now, split the dev set into a SIZE 900 TEST SET and SIZE 900 train set
new_test_df = new_dev_df.sample(n=900,random_state=4)
#And drop the sampled values from the dev set
new_dev_df_sampled = new_dev_df.drop(new_test_df.index)
# new_dev_df_sampled.head(1000000)

In [11]:
#PROCESSING TRAIN TO REDUCE TO 10K 
new_train_df = new_train_df.sample(n=10000,random_state=4)
new_train_df = new_train_df.drop_duplicates()

new_train_df.head(100000)

             0                                                  1
8788    158402        do plant cells have an extracellular matrix
6291    358198  how to find a linear relationship of a scatter...
14605   846070                    what is the scope of psychology
9078    393554             in muscle cells, fermentation produces
4108    447428              meaning of chemical change in science
...        ...                                                ...
3688    710790                   what is an abstract science fair
8525    929765                           what's a null hypothesis
15790  1048046          who plays howard s mom on big bang theory
10267   177686                       eccentric definition anatomy
12332  1160566                   what does stacked bar chart mean

[9689 rows x 2 columns]

In [ ]:
#PREPROCESSING TEST & OTHERS: NO DUPLICATE ENTRIES
new_test_df.drop_duplicates(subset=['query_id'])

In [12]:
#DEV SET
new_dev_df_sampled.to_csv('education_dev_queries_withqrels.tsv', sep = "\t",index=False, header=False)
#TEST SET -- SIZE 900
new_test_df.to_csv('education_test_queries_withqrels.tsv', sep = "\t",index=False, header=False)

In [13]:
#TRAIN SET
new_train_df.to_csv('education_train_queries_withqrels.tsv', sep = "\t",index=False, header=False)