In [7]:
#Now, generate a qrels file that only contains values chosen in queries
import pandas as pd

qrel_dev = pd.read_table('./qrels.dev.tsv')
qrel_train = pd.read_table('./qrels.train.tsv')

education_test = pd.read_table('education_test_queries_withqrels.tsv',header=None)
education_train = pd.read_table('education_train_queries_withqrels.tsv',header=None)
education_dev = pd.read_table('education_dev_queries_withqrels.tsv',header=None)

/home/ec2-user/anaconda3/envs/pytorch_p27/lib/python2.7/site-packages/ipykernel/__main__.py:4: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
/home/ec2-user/anaconda3/envs/pytorch_p27/lib/python2.7/site-packages/ipykernel/__main__.py:5: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
/home/ec2-user/anaconda3/envs/pytorch_p27/lib/python2.7/site-packages/ipykernel/__main__.py:7: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
/home/ec2-user/anaconda3/envs/pytorch_p27/lib/python2.7/site-packages/ipykernel/__main__.py:8: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
/home/ec2-user/anaconda3/envs/pytorch_p27/lib/python2.7/site-packages/ipykernel/__main__.py:9: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.

In [11]:
education_train.head(10000)

      query_id                                              query
0       158402        do plant cells have an extracellular matrix
1       358198  how to find a linear relationship of a scatter...
2       846070                    what is the scope of psychology
3       393554             in muscle cells, fermentation produces
4       447428              meaning of chemical change in science
5      1081610       youngest medal of honor recipient in history
6       521775                                    tire load index
7       121715        define frequency distribution in statistics
8       341969  how the education act 2002 affects the day to ...
9       468671                            on principle definition
10      570246                      what are the functions phloem
11      775794   what is needed for a masters in computer science
12     1073303               why learning mandarin is a good idea
13      445813                            mass definition physics
14     1021565  which two leaders oversaw what is considered t...
15      625103  what do the ancient civilizations of china, eg...
16       89619  cells that secrete mineral deposits that form ...
17      866363        what kind of bachelor's degree is economics
18      926101      what year did def leppard photograph come out
19      141457                           dermatomyositis symptoms
20      690667                 what is a meniscus ( science term)
21       53448         biggest sea animal in the world in history
22      749542                       what is functions golgi body
23      150038                  different taxable indexed annuity
24     1021732  which type of cells can bone morrow stem cells...
25      137347                     definition of primeval history
26      624611                         what do red blood cells do
27      618724              what did black history month begin as
28      797741             what is soft determinism in philosophy
29      877777  what mesoderm cells give rise to heart and blo...
...        ...                                                ...
9659    444250                          macrosociology definition
9660    960275                      when was the atomic bomb made
9661    752546                             what is graphics array
9662    763745                              what is kratom powder
9663    734457                   what is continental drift theory
9664   1013583  which molecules in the atmosphere absorb infra...
9665   1010258                      which graph is not a function
9666    446006                   math definition of whole numbers
9667    769634         what is meant by a circuit in graph theory
9668   1157730  what is a purpose of having a conceptual frame...
9669    677493                           what is a circle diagram
9670    886724                what phases in chemistry use energy
9671    832630            what is the microanatomy of the nephron
9672    107984                       cost of wedding videographer
9673    859680                         what is usb debugging mode
9674    775982      what is neisseria gonorrhoeae scientific name
9675    444718     major regions of the brain and their functions
9676    809219      what is the biomedical approach in psychology
9677    594171                          what cells are phagocytes
9678    791559                        what is rhetoric philosophy
9679    999045              where is tucson location geographical
9680    140146                     definition volume in chemistry
9681    810525               what is the central dogma of biology
9682    191452                      france population demographic
9683    789500                            what is range in python
9684    710790                   what is an abstract science fair
9685    929765                           what's a null hypothesis
9686   1048046          who plays howard s mom on big bang theory
9687    177686                       eccentric definition anatomy
9688   1160566                   what does stacked bar chart mean

[9689 rows x 2 columns]

In [8]:
qrel_dev.columns = ['query_id','ignore',"passage_id", "ignore2"]
qrel_train.columns = ['query_id','ignore',"passage_id", "ignore2"]


education_test.columns = ['query_id','query']
education_train.columns = ['query_id','query']
education_dev.columns = ['query_id','query']

In [5]:
#Now, filter qrels by query_id in this subset
df1 = education_test
df2 = qrel_dev

#mask that filters if queries query_id is in qrel query_id
m = df2.query_id.isin(df1.query_id)
#return new queries_dev where this filter is satisfied
df2 = df2[m]
df2.head(1000000)

       query_id  ignore  passage_id  ignore2
51        96252       0     7067941        1
182      130513       0     1625394        1
271      360297       0     7072264        1
289      224912       0     7072562        1
414      224004       0     7074772        1
509      230974       0     7076520        1
591     1090132       0     7078051        1
626     1090081       0     7078568        1
627     1090080       0     7078580        1
770     1089895       0     7080315        1
793     1089869       0     7080582        1
808     1089846       0     7080803        1
816     1089833       0     7080928        1
900     1089723       0     7081982        1
913     1089706       0     7082136        1
928     1089688       0     7082331        1
931     1089683       0     7082390        1
968     1089632       0     7082947        1
1005    1089583       0     7083485        1
1009    1089577       0     7083542        1
1113    1089437       0     7084917        1
1177    1089342       0     7085867        1
1340    1089093       0     7088254        1
1356    1089067       0     5341647        1
1380    1089031       0     7088855        1
1381    1089029       0     7088876        1
1676    1088574       0     7092822        1
2109    1087828       0     7098511        1
2110    1087827       0     7098526        1
2196    1087718       0      886858        1
...         ...     ...         ...      ...
57719    146762       0     7981440        1
57778   1090624       0     7982376        1
57779   1090624       0     7982380        1
57780   1090624       0     7982383        1
57901    123390       0     6900277        1
58113     31497       0     7440961        1
58154   1101301       0     7989429        1
58180    161683       0     7989853        1
58213   1101300       0     7990432        1
58225    174649       0     7990660        1
58279   1090508       0     7991881        1
58291   1090506       0     7992077        1
58321    184614       0     7992516        1
58323    359483       0     7992586        1
58452   1090463       0     7994905        1
58525    151427       0     7996256        1
58541    192713       0     7996562        1
58542    192713       0     7996563        1
58543    192713       0     7996568        1
58574    192695       0     7997169        1
58631    368354       0     7998056        1
58635     30039       0     7998107        1
58645     13064       0      529683        1
58674    203708       0     7998802        1
58707    256588       0     1353114        1
58719    214808       0     7999517        1
58721     53677       0     7999554        1
58852    286399       0     8001892        1
58912    113570       0     8003099        1
59107    274282       0     8006449        1

[941 rows x 4 columns]

In [6]:
#Now, prepare to export the modified qrels
#DROP headers
df2.to_csv('qrels_test_pruned.tsv' ,sep = "\t",index=False, header=False)

/home/ec2-user/anaconda3/envs/pytorch_p27/lib/python2.7/site-packages/OpenSSL/crypto.py:12: CryptographyDeprecationWarning: Python 2 is no longer supported by the Python core team. Support for it is now deprecated in cryptography, and will be removed in the next release.
  from cryptography import x509

In [9]:
#Now, let's repeat for training set
#Now, filter qrels by query_id in this subset
df1 = education_train
df2 = qrel_train

#mask that filters if queries query_id is in qrel query_id
m = df2.query_id.isin(df1.query_id)
#return new queries_dev where this filter is satisfied
df2 = df2[m]
df2.head(1000000)

        query_id  ignore  passage_id  ignore2
166       626785       0       24333        1
167       398567       0       24342        1
168       398567       0       24344        1
383       728984       0       59493        1
471       458121       0       71705        1
493       445089       0       74654        1
613       531189       0       91888        1
625       499265       0       93532        1
714       570962       0      106691        1
722       396012       0      107885        1
740       419154       0      110737        1
810       181093       0      120192        1
829       719805       0      120490        1
1004      455779       0      123094        1
1141      511299       0      125179        1
1144      471015       0      125241        1
1278      623549       0      127396        1
1475      705277       0      130482        1
1477      434375       0      130501        1
1478      434375       0      130504        1
1479      434375       0      130507        1
1505      514582       0      130983        1
1513      135540       0      131122        1
1516     1164580       0      131185        1
1532      445344       0      131441        1
1537      692427       0      131491        1
1559      526810       0      131895        1
1601      696026       0      132535        1
1632      474357       0      133047        1
1636      610482       0      133097        1
...          ...     ...         ...      ...
530623    715954       0     8572022        1
530655    714257       0     8576462        1
530718    409412       0     8584844        1
530727    694353       0     1155193        1
530927    485240       0     5850970        1
530964    201554       0     1870996        1
531212    704289       0     8644022        1
531216      7303       0     8644859        1
531394    473218       0     8668847        1
531540    482658       0     8688072        1
531580    526545       0     8692373        1
531682   1164957       0     8706886        1
531715   1164949       0     8711908        1
531724   1164948       0     8712902        1
531788    535713       0     8720220        1
531789    445871       0     8720396        1
531809    570225       0     8723201        1
531819   1164934       0     8723959        1
531862    715494       0     6288531        1
532145     18236       0     8762914        1
532175    504573       0     8767001        1
532424    520518       0     8799958        1
532436    380321       0      353526        1
532458    395569       0     8804091        1
532514    517922       0     8810934        1
532575    759596       0     8819242        1
532582    559900       0     8820035        1
532596   1183787       0     8821816        1
532616    387293       0     3038961        1
532692    569101       0      430496        1

[10177 rows x 4 columns]

In [10]:
#Now, prepare to export the modified qrels
#DROP headers
df2.to_csv('qrels_train_pruned.tsv' ,sep = "\t",index=False, header=False)